@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/FiraCodeMedium.ttf");
  font-family: "Fira Code";
  font-weight: 500;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/FiraCodeRegular.ttf");
  font-family: "Fira Code";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/FiraCodeSemiBold.ttf");
  font-family: "Fira Code";
  font-weight: 600;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/FingerPaintRegular.ttf");
  font-family: "Finger Paint";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/FiraCodeBold.ttf");
  font-family: "Fira Code";
  font-weight: 700;
}
